@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

p {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 18px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.title-card {
  background-color: #ee7e22;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.read-the-docs {
  color: #888;
}

.container-cart {
  position: relative;
  margin-right: 10px;

}

.circle-notification {
  background-color: #ee7e22;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  left: 20px;

}

.circle-notification p {
  font-size: 12px;
}

.card {
  border: 1px solid #ffb980;
  border-radius: 10px;
  transition: transform 0.1s ease-in-out;
}

.border-Cst {
  border: 1px solid rgb(58, 204, 58);
}

.border-Sst {
  border: 1px solid rgb(236, 81, 34);
}

.card:hover {
  transform: scale(1.02);
  border: 1px solid #ff8b2c;
  box-shadow: 0px 0px 5px 0px #ff790cbb;

}

.card:hover .back-Cst {
  box-shadow: 0px 0px 10px 0px rgb(0, 150, 0);
  border: 1px solid rgb(0, 150, 0);
}

.card:hover .back-Sst {
  box-shadow: 0px 0px 10px 0px rgb(190, 44, 0);
  border: 1px solid rgb(190, 44, 0);
}

.card-detail {
  border: 1px solid #ffb980;
  border-radius: 10px;
  transition: transform 0.1s ease-in-out;
  padding: 20px;
  position: relative;
}

.card-detail img {
  max-width: 700px;
  border-radius: 15px;
}

.card-detail .col-6 img {
  display: flex;
}

.card-detail-rigth {
  background-color: #f3f3f3;
  padding: 15px;
  border-radius: 15px;
}

.img-product {
  width: 100%;
}

.medal {
  position: absolute;
  width: 25px;
  top: 0;
  left: 10px;
}

.medal-detail {
  position: absolute;
  width: 3rem;
  top: 0;
  left: 10px;
}

.btn-addCart {
  border: 1px solid #ee7e22;
  background-color: #ee7e22;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
}

.btn-addCart-detail {
  border: none;
  background-color: #ee7e22;
  color: #fff;
  padding: 5px 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-addCart-detail:hover {
  opacity: 0.9;
}

.btn-addCart:hover {
  opacity: 0.9;
}

.btn-addCart-negative {
  border: none;
  border: 1px solid #ee7e22;
  background-color: #fff;
  color: #ee7e22;
  padding: 5px 15px;
  border-radius: 5px;
}

.btn-addCart-negative:hover {
  background-color: #f19549;
  color: #fff;

}

.stock-card {
  position: absolute;
  top: -15px;
  right: 10px;
  border-radius: 5px;
  padding: 2px 5px;
  color: #fff;
}

.stock-card-detail {
  position: absolute;
  top: -15px;
  right: 10px;
  border-radius: 5px;
  padding: 2px 5px;
  color: #fff;
  max-width: 100px;
  margin-right: 10px;
}

.back-Cst {
  background-color: rgb(58, 204, 58);
}


.back-Sst {
  background-color: rgb(236, 81, 34);
}

.precio {
  color: #ee7e22;
  font-weight: 700;
}

.precio-detail {
  color: #ee7e22;
  font-weight: 700;
  font-size: 25px;
  text-align: start;

}

.head-itemList {
  background: #969082;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 80px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);

}

.title-container {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.mt-6 {
  margin-top: 70px;
}

/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;

} */

.container-footer {
  background-color: #969082;
  padding: 20px;
  border-radius: 15px 15px 0 0;
  color: #fff;
}

.scroll-top {
  /* background-color: #6a6a6a; */
  background-color: #969082;
  box-shadow: 0px 0px 5px 0px rgba(15, 15, 15, 0.733);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 25px;


}

.carrito {
  border: none;
  background-color: transparent;

}

.offcanvas {
  z-index: 9999;
}

.scroll-top:hover {
  cursor: pointer;
}

.oculto {
  display: none !important;
}

@media screen and (max-width: 1200px) {
  .card {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 580px) {
  .container-footer {
    display: flex;
    flex-direction: column;
  }

  .container-footer img {
    width: 200px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 992px) {
  .o1 {
    order: 1 !important;
  }

  .o2 {
    order: 4 !important;
  }

  .o3 {
    order: 2 !important;
  }

  .o4 {
    order: 2 !important;
  }

  .container-search {
    justify-content: center;
  }
  .btn-user{
    margin-top: 10px !important;
  }
  .lbl-sesion {
    color:#000000;
    display: block !important;
  }

}
.lbl-sesion {
  color:#000000;
  display: none;
}

.o1 {
  order: 1;
}

.o2 {
  order: 2;
}

.o3 {
  order: 3;
}

.o4 {
  order: 3;
}


.navbar {
  padding: 20px;
  z-index: 99;
}

.dropdown-menu {
  z-index: 9999;
}

.carousel {
  z-index: 9;

}

.container-search>input {
  border: 1px solid #969082;
  padding: 7px;
  border-radius: 5px;
}


.swal-wide {
  width: 200px !important;
  z-index: 9999;
}

#swal2-title {
  font-size: 20px;
}

.swal2-icon.swal2-success {
  font-size: 10px;

}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 126, 34, 0.842);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.carousel-item img {
  border-radius: 10px;
  filter: brightness(0.5);
  transition: filter 0.3s ease;
}

.carousel-item img:hover {
  filter: brightness(0.7);
}

.carousel-caption {
  top: 150px;
  text-align: start;
}

.discount {
  background-color: rgba(25, 117, 255, 0.3);
  backdrop-filter: blur(5px);
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(25, 117, 255, 0.6);
}

.column-rigth-carousel {
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.column-rigth-carousel>div {
  background-color: rgb(247, 247, 247);
  backdrop-filter: blur(5px);
  width: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000000;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s ease;
}

.column-rigth-carousel>div:hover {
  transform: scale(1.01);
  border: 1px solid #202020;
}

@media screen and (max-width: 1200px) {
  .column-rigth-carousel {
    flex-direction: row;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .carousel-caption {
    top: 0;
    text-align: start;

  }
}

@media screen and (max-width: 565px) {
  .discount {
    font-size: 25px;
  }

  .carousel-caption h5 {
    font-size: 20px;
  }

  .carousel-caption p {
    font-size: 15px;
  }

  .carousel-item img {
    height: 250px;
    object-fit: cover;
  }
}

.btn-paginado {
  background-color: #ee7e22;
  color: #fff;
  border: none;
  padding: 2px 15px;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-paginado:hover {
  opacity: 0.9;
}

.number-paginado {
  color: #969082;
  font-size: 25px;
  font-weight: 600;

}

.star {
  width: 25px;
}

.contenedor-cantidad {
  display: flex;
  justify-content: center;
}

.contenedor-cantidad input {
  max-width: 100px;
  border: 1px solid #ee7e22;
  text-align: center;
}

.btn-cant {
  background-color: #ee7e22;
  border: none;
  padding: 5px 10px;
  color: #fff;
}

.btn-cant:hover {
  cursor: pointer !important;
}

.btn-cant-left {
  border-radius: 5px 0px 0px 5px;
}

.btn-cant-right {
  border-radius: 0px 5px 5px 0px;
}

.card-carrito {
  border: 1px solid #ffb980;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-carrito-codigo {
  color: #f77e1c;
}

.card-carrito-footer {
  padding: 8px;
  border-radius: 10px;
  background-color: #fa8627;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
}

.btn-carrito {
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 7px;
}

.btn-carrito-buy {
  background-color: #ee7e22;
}

.btn-carrito-clear {
  background-color: #969082;
}

.container-carrito-delete {
  background-color: #fc3a17;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: -15px;
  cursor: pointer;
}

.container-carrito-delete:hover {
  background-color: #ff5537;
}

.container-confirm {
  border: 1px solid #dadada;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.oculto {
  display: none !important;
}

.pointer:hover {
  cursor: pointer;
}

.btn-user {
  background-color: transparent !important;
  border: none !important;
  padding: 0;
  margin-right: 10px;
}

.circle-user {
  background-color: #ee7e22;
  width: 35Px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.btn-iniciar {
  border: 1px solid #ee7e22;
  background-color: #ee7e22;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
}

.btn-iniciar:hover {
  background-color: #f87408;
  border: 1px solid #f87408;
}

.btn-iniciar-negative {
  border: 1px solid #cf640d;
  background-color: transparent !important;
  color: #f87408;
  padding: 5px 15px;
  border-radius: 5px;
}

.btn-iniciar-negative:hover {
  background-color: #f87408 !important;
  border: 1px solid #f87408 !important;
}

.zindex {
  z-index: 9999 !important;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.popover-item {
  cursor: pointer;
}

.popover-item:hover {
  color: #cf640d;
}

.popover-item:hover .popover-item img:hover {
  fill: #cf640d !important
}

.link-decoration {
  text-decoration: none;
  color: #000000
}

.head-popover {
  background-color: #f87408;
  color: #fff;
}

#popover-contained {
  border: 1px solid #ffa963;
}
.state-ship {
  display: flex; 
  justify-content: center;
  gap:5px;
  padding: 3px 10px;
  max-width: 140px;
  border-radius: 5px;
  color: #fff;
}
.envio-pendiente {
  background-color: #eb4040;
}
.envio-progreso {
  background-color: #f79516;
}
.envio-entregado {
  background-color: #11cc00;
}
.text-one {
  font-size: 12px;
}
.swal2-confirm-custom  {
background-color: #f87408 !important;
}
